@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1d2f3f;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*  HEADER  */

.navbar {
    border-bottom: 2px solid #8f9fb1;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: 600;
    list-style: none;
}

.logo {
    height: 60px;
    width: 50px;
}

.carrito {
    width: 50px;
    height: 50px;
}

.img {
    height: 60px;
    width: 50px;
}

.h1 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

/*  ERROR PAGE  */

.error-page{
    text-align: center;
    padding: 9.375rem;
}

.error-page h6 {
    margin-top: 2.5rem;
}
